#container{
	 background: #ffffff;
	 margin: auto auto;
     text-align: center;
     width: 1440px;
     height: 2486px;
}

#head1{
background: #FFFFFF;
     width: 1440px;
     height: 1111px;;
}


#content{
	background: url(eventbody.png) ;
	 float: right;
     width: 1440px;
     height: 2019px;
}

#clear{
	clear: both;
}


#footer{
	background: #141414;
	width: 1440px;
	height: 356px;
}

#textnav1{
  text-align: left;
  margin: auto;
  width: 95%;
}

#textnav2{
  text-align: left;
  margin: auto;
  width: 70%;
  height: 10%;
}
