#container{
	 background: #ffffff;
	 margin: auto auto;
     text-align: center;
     width: 1440px;
     height: 2486px;
}

#head1{
display: flex;
background: #FFFFFF;
     width: 1440px;
     height: 110px;1
}

#head1 > div{
	position: relative;
  top: 25px;
  left: 140px;
	flex: 0.13;
}


#content{
	background: url(eventbody.png) ;
	 float: right;
     width: 1440px;
     height: 2019px;
}

#clear{
	clear: both;
}


#footer{
	background: #141414;
	width: 1440px;
	height: 356px;
}

#textnav1{
	font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
}

#textnav2{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}


#textnav3{
	position: relative;
  top: 50px;
  left: -550px;
	font-family: 'Playfair Display';
color: #ffffff;
font-style: normal;
font-weight: 400;
font-size: 20px;

}

#textnav4{
	color: #ffffff;
	position: relative;
	top: 70px;
	left: -550px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}

#textnav5{
	color: #ffffff;
	position: relative;
	top: 80px;
	left: -565px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}
#textnav6{
	color: #ffffff;
	position: relative;
	top: 90px;
	left: -570px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}
#textnav7{
	color: #ffffff;
	position: relative;
	top: 100px;
	left: -584px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}
#textnav8{
	color: #ffffff;
	position: relative;
	top: 110px;
	left: -580px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}



html {
  font-family: sans-serif;
}

form {
	position: relative;
	top: -90px;
	left: 360px;
  display: table;
  margin: 0 auto;
}

form div {
  display: table-row;
}

form label, form input {
  display: table-cell;
  margin-bottom: 10px;
}

form label {
	ffont-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
  width: 200px;
  padding-right: 5%;
  text-align: right;
}

form input {
  width: 250px;
}

form p {
	position: relative;
  top: -10px;
  left: 230px;
	font-family: 'Playfair Display';
color: #ffffff;
font-style: normal;
font-weight: 400;
font-size: 18px;
}
